<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Gestion Administrador</h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
        data-target="#newAdministradorModal">Nuevo</button>

      <!-- Modal -->
      <div class="modal fade" id="newAdministradorModal" tabindex="-1" role="dialog" aria-labelledby="newAdministradorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nuevo Administrador</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/admin/add" method="POST">
              <div class="modal-body">

                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="form-group">
                  <label for="nombreUsuario">Usuario</label>
                  <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario">
                </div>
                <div class="form-group">
                  <label for="">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                  <label for="tipo">Tipo</label>

                  <select name="tipo" id="tipo" class="form-control">
                    <option value="administrador">Administrador</option>
                    <option value="encargado">Encargado</option>
                  </select>
                </div>

              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {{!-- <button type="button" class="btn btn-sm btn-outline-secondary">Export</button> --}}
    </div>
  </div>
</div>
<table class="table table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Usuario</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>
    {{#each administradores}}
    <tr>
      <td>{{nombre}}</td>
      <td>{{usuario.nombreUsuario}}</td>
      <td>{{usuario.tipo}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>